/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-articles-a-name: 'sprite-ico-articles-a';
$sprite-ico-articles-a-x: 114px;
$sprite-ico-articles-a-y: 0px;
$sprite-ico-articles-a-offset-x: -114px;
$sprite-ico-articles-a-offset-y: 0px;
$sprite-ico-articles-a-width: 19px;
$sprite-ico-articles-a-height: 24px;
$sprite-ico-articles-a-total-width: 133px;
$sprite-ico-articles-a-total-height: 98px;
$sprite-ico-articles-a-image: '../img/super_sprite.png';
$sprite-ico-articles-a: (114px, 0px, -114px, 0px, 19px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-articles-a', );
$sprite-ico-articles-name: 'sprite-ico-articles';
$sprite-ico-articles-x: 114px;
$sprite-ico-articles-y: 24px;
$sprite-ico-articles-offset-x: -114px;
$sprite-ico-articles-offset-y: -24px;
$sprite-ico-articles-width: 19px;
$sprite-ico-articles-height: 24px;
$sprite-ico-articles-total-width: 133px;
$sprite-ico-articles-total-height: 98px;
$sprite-ico-articles-image: '../img/super_sprite.png';
$sprite-ico-articles: (114px, 24px, -114px, -24px, 19px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-articles', );
$sprite-ico-glass-a-name: 'sprite-ico-glass-a';
$sprite-ico-glass-a-x: 68px;
$sprite-ico-glass-a-y: 0px;
$sprite-ico-glass-a-offset-x: -68px;
$sprite-ico-glass-a-offset-y: 0px;
$sprite-ico-glass-a-width: 25px;
$sprite-ico-glass-a-height: 24px;
$sprite-ico-glass-a-total-width: 133px;
$sprite-ico-glass-a-total-height: 98px;
$sprite-ico-glass-a-image: '../img/super_sprite.png';
$sprite-ico-glass-a: (68px, 0px, -68px, 0px, 25px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-glass-a', );
$sprite-ico-glass-name: 'sprite-ico-glass';
$sprite-ico-glass-x: 24px;
$sprite-ico-glass-y: 52px;
$sprite-ico-glass-offset-x: -24px;
$sprite-ico-glass-offset-y: -52px;
$sprite-ico-glass-width: 25px;
$sprite-ico-glass-height: 24px;
$sprite-ico-glass-total-width: 133px;
$sprite-ico-glass-total-height: 98px;
$sprite-ico-glass-image: '../img/super_sprite.png';
$sprite-ico-glass: (24px, 52px, -24px, -52px, 25px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-glass', );
$sprite-ico-metal-a-name: 'sprite-ico-metal-a';
$sprite-ico-metal-a-x: 0px;
$sprite-ico-metal-a-y: 77px;
$sprite-ico-metal-a-offset-x: 0px;
$sprite-ico-metal-a-offset-y: -77px;
$sprite-ico-metal-a-width: 23px;
$sprite-ico-metal-a-height: 21px;
$sprite-ico-metal-a-total-width: 133px;
$sprite-ico-metal-a-total-height: 98px;
$sprite-ico-metal-a-image: '../img/super_sprite.png';
$sprite-ico-metal-a: (0px, 77px, 0px, -77px, 23px, 21px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-metal-a', );
$sprite-ico-metal-name: 'sprite-ico-metal';
$sprite-ico-metal-x: 49px;
$sprite-ico-metal-y: 52px;
$sprite-ico-metal-offset-x: -49px;
$sprite-ico-metal-offset-y: -52px;
$sprite-ico-metal-width: 23px;
$sprite-ico-metal-height: 21px;
$sprite-ico-metal-total-width: 133px;
$sprite-ico-metal-total-height: 98px;
$sprite-ico-metal-image: '../img/super_sprite.png';
$sprite-ico-metal: (49px, 52px, -49px, -52px, 23px, 21px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-metal', );
$sprite-ico-other-a-name: 'sprite-ico-other-a';
$sprite-ico-other-a-x: 93px;
$sprite-ico-other-a-y: 0px;
$sprite-ico-other-a-offset-x: -93px;
$sprite-ico-other-a-offset-y: 0px;
$sprite-ico-other-a-width: 21px;
$sprite-ico-other-a-height: 27px;
$sprite-ico-other-a-total-width: 133px;
$sprite-ico-other-a-total-height: 98px;
$sprite-ico-other-a-image: '../img/super_sprite.png';
$sprite-ico-other-a: (93px, 0px, -93px, 0px, 21px, 27px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-other-a', );
$sprite-ico-other-name: 'sprite-ico-other';
$sprite-ico-other-x: 93px;
$sprite-ico-other-y: 27px;
$sprite-ico-other-offset-x: -93px;
$sprite-ico-other-offset-y: -27px;
$sprite-ico-other-width: 21px;
$sprite-ico-other-height: 27px;
$sprite-ico-other-total-width: 133px;
$sprite-ico-other-total-height: 98px;
$sprite-ico-other-image: '../img/super_sprite.png';
$sprite-ico-other: (93px, 27px, -93px, -27px, 21px, 27px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-other', );
$sprite-ico-paper-a-name: 'sprite-ico-paper-a';
$sprite-ico-paper-a-x: 0px;
$sprite-ico-paper-a-y: 24px;
$sprite-ico-paper-a-offset-x: 0px;
$sprite-ico-paper-a-offset-y: -24px;
$sprite-ico-paper-a-width: 29px;
$sprite-ico-paper-a-height: 28px;
$sprite-ico-paper-a-total-width: 133px;
$sprite-ico-paper-a-total-height: 98px;
$sprite-ico-paper-a-image: '../img/super_sprite.png';
$sprite-ico-paper-a: (0px, 24px, 0px, -24px, 29px, 28px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-paper-a', );
$sprite-ico-paper-name: 'sprite-ico-paper';
$sprite-ico-paper-x: 29px;
$sprite-ico-paper-y: 24px;
$sprite-ico-paper-offset-x: -29px;
$sprite-ico-paper-offset-y: -24px;
$sprite-ico-paper-width: 29px;
$sprite-ico-paper-height: 28px;
$sprite-ico-paper-total-width: 133px;
$sprite-ico-paper-total-height: 98px;
$sprite-ico-paper-image: '../img/super_sprite.png';
$sprite-ico-paper: (29px, 24px, -29px, -24px, 29px, 28px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-paper', );
$sprite-ico-plast-a-name: 'sprite-ico-plast-a';
$sprite-ico-plast-a-x: 68px;
$sprite-ico-plast-a-y: 24px;
$sprite-ico-plast-a-offset-x: -68px;
$sprite-ico-plast-a-offset-y: -24px;
$sprite-ico-plast-a-width: 24px;
$sprite-ico-plast-a-height: 25px;
$sprite-ico-plast-a-total-width: 133px;
$sprite-ico-plast-a-total-height: 98px;
$sprite-ico-plast-a-image: '../img/super_sprite.png';
$sprite-ico-plast-a: (68px, 24px, -68px, -24px, 24px, 25px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-plast-a', );
$sprite-ico-plast-name: 'sprite-ico-plast';
$sprite-ico-plast-x: 0px;
$sprite-ico-plast-y: 52px;
$sprite-ico-plast-offset-x: 0px;
$sprite-ico-plast-offset-y: -52px;
$sprite-ico-plast-width: 24px;
$sprite-ico-plast-height: 25px;
$sprite-ico-plast-total-width: 133px;
$sprite-ico-plast-total-height: 98px;
$sprite-ico-plast-image: '../img/super_sprite.png';
$sprite-ico-plast: (0px, 52px, 0px, -52px, 24px, 25px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-plast', );
$sprite-ico-util-a-name: 'sprite-ico-util-a';
$sprite-ico-util-a-x: 34px;
$sprite-ico-util-a-y: 0px;
$sprite-ico-util-a-offset-x: -34px;
$sprite-ico-util-a-offset-y: 0px;
$sprite-ico-util-a-width: 34px;
$sprite-ico-util-a-height: 24px;
$sprite-ico-util-a-total-width: 133px;
$sprite-ico-util-a-total-height: 98px;
$sprite-ico-util-a-image: '../img/super_sprite.png';
$sprite-ico-util-a: (34px, 0px, -34px, 0px, 34px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-util-a', );
$sprite-ico-util-name: 'sprite-ico-util';
$sprite-ico-util-x: 0px;
$sprite-ico-util-y: 0px;
$sprite-ico-util-offset-x: 0px;
$sprite-ico-util-offset-y: 0px;
$sprite-ico-util-width: 34px;
$sprite-ico-util-height: 24px;
$sprite-ico-util-total-width: 133px;
$sprite-ico-util-total-height: 98px;
$sprite-ico-util-image: '../img/super_sprite.png';
$sprite-ico-util: (0px, 0px, 0px, 0px, 34px, 24px, 133px, 98px, '../img/super_sprite.png', 'sprite-ico-util', );
$sprite-widget-search-btn-name: 'sprite-widget_search-btn';
$sprite-widget-search-btn-x: 114px;
$sprite-widget-search-btn-y: 48px;
$sprite-widget-search-btn-offset-x: -114px;
$sprite-widget-search-btn-offset-y: -48px;
$sprite-widget-search-btn-width: 16px;
$sprite-widget-search-btn-height: 16px;
$sprite-widget-search-btn-total-width: 133px;
$sprite-widget-search-btn-total-height: 98px;
$sprite-widget-search-btn-image: '../img/super_sprite.png';
$sprite-widget-search-btn: (114px, 48px, -114px, -48px, 16px, 16px, 133px, 98px, '../img/super_sprite.png', 'sprite-widget_search-btn', );
$spritesheet-width: 133px;
$spritesheet-height: 98px;
$spritesheet-image: '../img/super_sprite.png';
$spritesheet-sprites: ($sprite-ico-articles-a, $sprite-ico-articles, $sprite-ico-glass-a, $sprite-ico-glass, $sprite-ico-metal-a, $sprite-ico-metal, $sprite-ico-other-a, $sprite-ico-other, $sprite-ico-paper-a, $sprite-ico-paper, $sprite-ico-plast-a, $sprite-ico-plast, $sprite-ico-util-a, $sprite-ico-util, $sprite-widget-search-btn, );
$spritesheet: (133px, 98px, '../img/super_sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
