@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';

@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';

@import 'super_sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;

  min-width: 320px;

  transition: $base-transition;

  color: $base-font-color;
  background-color: $base-background-color;
  background-image: url(../img/bg/body.jpg);
  background-repeat: no-repeat;
  background-position: center top;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
button,
.btn {
  font-size: 14px;
  font-weight: 600;

  width: 260px;
  height: 45px;

  transition: $base-transition;

  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(87, 44, 8, .65);
  &.btn-orange {
    color: #ffffff;

    @include linear-gradient(#feb423, #fd8f1c);
  }
  &.btn-margin {
    margin-bottom: 22px;
  }
  &:hover {
    &.btn-orange {
      @include linear-gradient(#fd8f1c, #feb423);
    }
  }
  &.btn-mobinavi,
  &.btn-mobinavi--close {
    font-size: 36px;

    display: none;

    width: 50px;
    height: 50px;
    padding: 0;
    &:hover {
      color: $orange;
    }
  }
  &.btn-mobinavi--close-a {
    position: fixed;
    top: 10px;
    right: 10px;

    display: block;
  }
}
i.ico {
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center;
  &.ico-circle-plus {
    line-height: 1.4;

    width: 20px;
    height: 20px;
    margin-right: 8px;

    text-align: center;

    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  &.ico-paper {
    width: 29px;
    height: 28px;

    background-image: url(../img/svg/ico-paper.svg);
  }
  &.ico-metal {
    width: 23px;
    height: 21px;

    background-image: url(../img/svg/ico-metal.svg);
  }
  &.ico-plast {
    width: 24px;
    height: 25px;

    background-image: url(../img/svg/ico-plast.svg);
  }
  &.ico-glass {
    width: 24px;
    height: 25px;

    background-image: url(../img/svg/ico-glass.svg);
  }
  &.ico-other {
    width: 21px;
    height: 27px;

    background-image: url(../img/svg/ico-other.svg);
  }
  &.ico-util {
    width: 34px;
    height: 24px;

    background-image: url(../img/svg/ico-util.svg);
  }
  &.ico-articles {
    width: 19px;
    height: 24px;

    background-image: url(../img/svg/ico-articles.svg);
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;

  max-width: $width;
}

header {
  height: 235px;

  background-image: url(../img/bg/header.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  .header--logo {
    display: block;

    margin-bottom: 40px;
    padding-top: 48px;

    text-align: left;
    img {
      max-width: 100%;
    }
  }
  .header-add {
    padding-top: 50px;

    text-align: right;
  }
}
.nav__header,
.nav__footer {
  height: 56px;
  padding-right: 20px;
  padding-left: 20px;
  .headnav,
  .footernav {
    display: block;
    display: flex;
    flex-direction: row;

    height: 100%;
    padding-right: 10px;
    padding-left: 10px;

    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 6px 3px 0 rgba(0,0,0,.2);

    align-content: stretch;
    align-items: flex-start;
    flex-wrap: nowrap;
    @include linear-gradient(#1f8a70, #439d68);
    justify-content: space-between;
    li {
      display: inline-block;

      height: 100%;

      border-right: 1px solid #358c71;
      &:last-child {
        border-right: 1px solid transparent;
      }
      a {
        font-size: 14px;
        font-weight: 600;

        position: relative;

        display: flex;
        flex-direction: row;

        height: 100%;
        padding: 0 20px;

        text-align: center;

        color: #ffffff;

        align-content: stretch;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        .ico {
          margin-right: 10px;
        }
        &:after {
          position: absolute;
          right: 0;
          bottom: -11px;
          left: 0;

          display: none;

          height: 11px;

          content: '';

          @extend .nav__header-a-bottom;
        }
      }
      &:hover {
        border-right: 1px solid transparent;

        @include linear-gradient(#249e83, #4cad79);
        a {
          text-decoration: none;
        }
      }
      &.pre-nav-hovered {
        border-right: 1px solid transparent;
      }
      &.current-page-ancestor,
      &.current_page_parent,
      &.current-menu-item {
        border-right: 1px solid transparent;

        @include linear-gradient(#deed55, #cae143);
        a {
          color: #687d08;
          &:after {
            display: block;
          }
        }
        i {
          &.ico {
            &.ico-paper {
              background-image: url(../img/svg/ico-paper-a.svg);
            }
            &.ico-metal {
              background-image: url(../img/svg/ico-metal-a.svg);
            }
            &.ico-plast {
              background-image: url(../img/svg/ico-plast-a.svg);
            }
            &.ico-glass {
              background-image: url(../img/svg/ico-glass-a.svg);
            }
            &.ico-other {
              background-image: url(../img/svg/ico-other-a.svg);
            }
            &.ico-util {
              background-image: url(../img/svg/ico-util-a.svg);
            }
            &.ico-articles {
              background-image: url(../img/svg/ico-articles-a.svg);
            }
          }
        }
      }
      &.previous-menu-item {
        border-right: 1px solid transparent;
      }
    }
  }
  &.nav__header--mobiled {
    position: fixed;
    z-index: 50;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    height: auto;
    ul {
      display: flex;
      flex-direction: column;

      height: auto;

      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        display: block;

        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        a {
          font-size: 16px;
          font-weight: bold;
          i.ico {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
section {
  padding: 0 0 $footer;
}
.stats-block {
  display: flex;
  flex-direction: row;

  margin-bottom: 22px;
  padding: 10px 30px 10px 25px;

  border-radius: 3px;
  background-color: #f9fafc;

  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  .stats-block--item {
    position: relative;

    width: 50%;
    padding: 20px 0 20px 60px;

    border-bottom: 1px solid #e3efee;
    background-repeat: no-repeat;
    background-position: left center;
    .stats-block--href {
      font-size: 18px;
      font-weight: 500;

      text-transform: uppercase;

      color: $black;
    }
    .stats-block--count {
      font-size: 13px;
      line-height: 2.4;

      position: absolute;
      top: 50%;
      right: 20px;

      display: block;

      width: 55px;
      height: 30px;
      margin-top: -15px;

      text-align: center;

      color: $green;
      border-radius: 3px;
      background-color: #e1eeed;
    }
    &:nth-child(2n) {
      background-position: 15px center;
      .stats-block--count {
        right: 0;
      }
    }
    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-bottom: 1px solid transparent;
    }
  }
}
.article-container,
article {
  margin-bottom: 50px;

  @extend .clearfix;
  .looper {
    padding-left: 5px;
  }
  .page-title,
  .single-title,
  .search-title {
    font-size: 30px;

    position: relative;

    margin-bottom: 25px;
    padding: 0 5px 20px;
    span {
      color: $green;
    }
    &:after {
      position: absolute;
      bottom: 0;
      left: 5px;

      width: 45px;
      height: 3px;

      background-color: #abcfc9;

      @extend .dblock;
    }
  }
  .page-subtitle {
    font-size: 22px;

    margin: 0;
    padding: 0 0 0 5px;
    &:atfer {
      display: none;
    }
  }
  &.hentry {
    padding-left: 25px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;

      margin-bottom: 22px;

      color: #3b4851;
    }
    h1 {
      font-size: 160%;
    }
    h2 {
      font-size: 145%;
    }
    h3 {
      font-size: 135%;
    }
    h4 {
      font-size: 130%;
    }
    h5 {
      font-size: 120%;
    }
    h6 {
      font-size: 110%;
    }
    .page-title,
    .single-title,
    .search-title {
      font-size: 30px;

      padding-left: 0;
      span {
        color: $green;
      }
      &:after {
        left: 0;
      }
    }
    .single-title--subs {
      font-size: 16px;
      font-weight: bold;

      margin-bottom: 22px;

      text-transform: uppercase;

      color: $green;
    }
    p {
      font-size: 13px;
      line-height: 22px;

      margin-bottom: 22px;
    }
    blockquote {
      margin-bottom: 22px;
      padding: 20px 30px 1px;

      color: #1f8a70;
      border-left: 1px solid #1f8a70;
      background-color: #eff7f5;
    }
    ul,
    ol {
      margin-bottom: 22px;
      li {
        font-weight: bold;

        margin-bottom: 20px;
        padding-left: 30px;
      }
    }
    ul {
      li {
        padding-left: 20px;
        &:before {
          position: relative;
          top: 50%;
          left: 0;

          display: inline-block;

          width: 10px;
          height: 10px;
          margin-top: -5px;
          margin-right: 10px;

          content: '';

          border-radius: 50%;
          background-color: $green;
        }
      }
    }
    ol {
      list-style-position: inside;
      list-style-type: decimal;
      li {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    table {
      margin-bottom: 22px;
      tr {
        &:nth-child(1) {
          td,
          th {
            font-weight: bold;
          }
        }
        td,
        th {
          padding: 10px;
        }
      }
    }
    .sinle--short-descr {
      font-size: 120%;
      font-weight: 500;

      margin-bottom: 22px;
      padding-left: 30px;

      border-left: 2px solid $green;
    }
    .prices-list {
      margin-bottom: 22px;
      tr {
        &:nth-child(odd) {
          td {
            background-color: #f8fbfb;
          }
        }
        td {
          font-weight: normal !important;
          padding: 15px;
          &:first-child {
            width: 80%;
            position: relative;
            padding-left: 50px !important;
            span {
              font-size: 20px;
              color: #dae9e5;
              position: absolute;
              top: 50%;
              left: 15px;
              display: block;
              width: 15px;
              text-align: center;
              margin-top: -11px;
            }
            padding: 5px;
          }
          &:last-child {
            width: 20%;

            text-align: right;
            vertical-align: middle;

            color: $green;
          }
        }

      }
    }
    .cities-list {
      display: flex;
      flex-direction: row;

      margin-bottom: 40px;
      padding: 20px 25px;

      background-color: #f3f5f8;

      align-content: stretch;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: inline-block;

        width: 33.3%;
        a {
          text-decoration: underline;
        }
        &:before {
          margin-top: -8px;

          background-color: transparent !important;

          @include sprite($sprite-ico-markers);
        }
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          margin-bottom: 0;
        }
      }
    }
    .yandex-map {
      margin-bottom: 22px;

      border-radius: 3px;
    }
  }
  img {
    border-radius: 3px;
    &.alignleft {
      margin-right: 30px;
      margin-bottom: 20px;
    }
    &.alignright {
      margin-bottom: 20px;
      margin-left: 30px;
    }
  }
}
.types-contacts {
  font-size: 14px;

  display: flex;
  flex-direction: row;

  margin-bottom: 22px;
  padding: 20px 20px 10px;

  border-radius: 3px;
  background-color: #f3f5f8;

  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  p {
    display: inline-block;

    width: 50%;
    margin-bottom: 10px !important;
    span {
      font-weight: bold;

      color: $green;
    }
  }
}
div#toc_container {
  margin: 0 0 22px;
  padding: 30px;

  border: 0 !important;
  border-radius: 3px;
  background-color: #ebf2f0 !important;
  .toc_list {
    margin-bottom: 18px;
    margin-left: 30px;
    > li {
      > a {
        font-weight: bold;
        .toc_number {
          font-weight: bold !important;

          color: $green;
        }
      }
    }
    li {
      ul {
        margin-left: 10px;
      }
      a {
        line-height: 1.5;

        position: relative;

        display: block;

        margin-bottom: 20px;
        padding-left: 15px;

        color: $black;
        .toc_number {
          font-weight: 500;

          position: absolute;
          top: 0;
          left: 0;

          display: inline-block;

          margin-right: 4px;

          color: $green;
        }
        &:hover {
          color: $green;
        }
      }
      li {
        a {
          padding-left: 25px;
        }
        li {
          a {
            padding-left: 35px;
          }
          li {
            a {
              padding-left: 45px;
            }
          }
        }
      }
      &:before {
        display: none;
      }
    }
  }
}
.pagetype--cities-list {
  display: flex;
  flex-direction: row;

  margin-bottom: 40px;
  padding: 20px 25px;

  background-color: #f3f5f8;

  align-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  li {
    position: relative;

    display: inline-block;

    width: 50%;
    margin-bottom: 22px;
    padding-left: 20px;
    a {
      text-decoration: underline;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      margin-top: -8px;

      background-color: transparent !important;

      @include sprite($sprite-ico-markers);
    }
  }
}
.article-container {
  .looper {
    position: relative;

    margin-bottom: 35px;
    padding-bottom: 35px;

    @extend .clearfix;
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 5px;

      display: block !important;

      height: 1px;

      content: '';

      background-color: #ddeae7;
    }
    h2 {
      margin: 0 0 20px;
      a {
        font-size: 18px;
        font-weight: bold;

        color: #1f8a70;
      }
    }
    p {
      font-size: 13px;
      line-height: 22px;

      margin-bottom: 20px;
    }
    .view-article {
      display: block;

      text-decoration: underline;
    }
    &:nth-last-child(2) {
      margin-bottom: 0;
      &:after {
        display: none !important;
      }
    }
  }
}
.article-container--tax {
  article {
    p {
      font-size: 13px;
      line-height: 22px;

      margin-bottom: 22px;
    }
    blockquote {
      margin-bottom: 22px;
      padding: 20px 30px;

      color: #1f8a70;
      border-left: 1px solid #1f8a70;
      background-color: #eff7f5;
    }
    ul,
    ol {
      margin-bottom: 22px;
      li {
        font-weight: bold;

        margin-bottom: 20px;
        padding-left: 30px;
      }
    }
    ul {
      li {
        padding-left: 20px;
        &:before {
          position: absolute;
          top: 50%;
          left: 0;

          width: 10px;
          height: 10px;
          margin-top: -5px;

          border-radius: 50%;
          background-color: $green;

          @extend .dblock;
        }
      }
    }
    ol {
      list-style-position: inside;
      list-style-type: decimal;
      li {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  .yandex-map {
    margin-bottom: 22px;
  }
  .btn {
    margin-bottom: 22px;
  }
}
.city-listing {
  margin: 0 0 22px;
  tr {
    td {
      border: 0;
      h5 {
        font-size: 120%;
        font-weight: bold;
      }
      &:first-chid {
        width: 80%;
      }
      &:last-child {
        font-weight: bold;

        width: 20%;

        text-align: right;
      }
    }
    &.prices {
      td {
        &:first-child {
          padding-left: 20px;
        }
      }
      &:hover {
        td {
          background-color: lighten($green, 30%);
        }
      }
    }
  }
}
.pagecity-listing {
  margin: 22px 0;
  tr {
    td {
      padding: 20px;

      vertical-align: middle;

      border: 0;
      border-top: 1px solid #bbdcd4;
      border-bottom: 1px solid #bbdcd4;
      span {
        font-weight: normal;

        display: block;

        margin-bottom: 10px;
      }
      h5 {
        font-size: 120%;
        font-weight: bold;

        margin-bottom: 10px;

        color: $black;
        a {
          color: $black;
        }
      }
      * {
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      &:first-chid {
        width: 80%;
      }
      &:last-child {
        font-weight: bold;

        width: 20%;
        padding: 20px 0;

        text-align: right;

        color: $green;
      }
    }
    &:nth-child(2n) {
      background-color: #f8fbfb;
    }
  }
}
.comment-respond,
.entry-pings {
  padding: 30px 0 0;
}
.pagination {
  text-align: center;

  @extend .clearfix;
  a,
  span {
    display: inline-block;

    margin: 0 12px;

    text-decoration: underline;

    color: $black;
    &.current {
      text-decoration: none;

      color: $green;
    }
    &.next,
    &.prev {
      color: $green;
    }
    &.next {
      float: right;

      margin-right: 0;
    }
    &.prev {
      float: left;

      margin-left: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
aside {
  &.sidebar {
    margin-bottom: 50px;
  }
  .widget {
    margin-bottom: 20px;
    h6 {
      font-size: 30px;

      position: relative;

      margin-bottom: 25px;
      padding-bottom: 20px;
      span {
        color: $green;
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 45px;
        height: 3px;

        background-color: #abcfc9;

        @extend .dblock;
      }
    }
    ul {
      li {
        margin-bottom: 10px;
        a {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
  .widget_search {
    form {
      position: relative;

      width: 100%;
      height: 40px;

      border-radius: 3px;

      @include linear-gradient(#419a67, #1f8a70);
      input {
        font-size: 15px;
        font-weight: 500;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: auto;
        margin: 0;
        padding: 13px 20px;

        color: #ffffff;
        border: 0;
        border-radius: 3px;
        background-color: transparent;

        @include placeholder {
          color: #ffffff;
        }
      }
      button {
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 1px;

        width: 50px;
        height: auto;
        padding: 0;

        border-radius: 0 3px 3px 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;

        @extend .widget_search-btn;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
  .widget--usefull {
    li {
      display: block;

      margin-bottom: 10px;
      padding: 25px 30px;

      border-radius: 3px;
      background-color: #f3f5f8;
      &:before {
        position: absolute;
        z-index: 1;
        top: 24px;
        left: -15px;

        width: 27px;
        height: 27px;

        transition: $base-transition;

        border: 6px solid #ffffff;
        border-radius: 50%;
        background-color: #bedb39;

        @extend .dblock ;
      }
      &:last-child {
        margin-bottom: 0;
      }
      h5 {
        font-size: 16px;

        margin-bottom: 22px;
        a {
          font-weight: 500;

          color: $green;
        }
      }
      p {
        line-height: 1.8;

        margin: 0;
      }
      .view-article {
        font-size: 13px;

        display: block;

        margin-bottom: 0;
        padding-top: 22px;

        text-decoration: underline;

        color: $green;
      }
      &:hover {
        &:before {
          background-color: $green;
        }
      }
    }
  }
}
.modal-bg {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  flex-direction: row;

  background-color: rgba(71, 125, 202, .6);

  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  &.modal-bg--opened {
    display: flex;
  }
  .modal-container {
    position: relative;

    width: 30%;
    min-width: 320px;
    padding: 0;

    border: 15px solid #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: $base-box-shadow;
    form {
      label,
      p,
      input,
      textarea {
        font-weight: normal;
        line-height: 1.8;

        margin-bottom: 10px;
      }
      p {
        margin: 0;
      }
      .productname {
        textarea {
          height: 80px;
        }
      }
      .your-message {
        textarea {
          height: 120px;
        }
      }
    }
  }
  &.modal-product,
  &.modal-product-cat {
    .modal-container {
      h6 {
        font-size: 20px;
        font-weight: bold;

        margin-bottom: 10px;
        padding-bottom: 10px;

        text-align: center;

        border-bottom: 3px dotted $black;
      }
      h5 {
        font-size: 18px;
        font-weight: bold;

        margin-bottom: 0;
        padding-top: 8px;
        padding-bottom: 8px;

        text-align: center;

        border-top: 3px dotted $black;
        span {
          display: block;
        }
      }
      p {
        margin: 0;
      }
      label {
        margin-bottom: 0;
      }
      span.your-choise {
        display: none;
      }
      #your-choise--span {
        font-weight: bold;

        display: block;
      }
      label {
        margin-bottom: 0;
      }
      br {
        display: none;
      }
      input[name=choise-price] {
        font-weight: bold;

        margin-bottom: 0;
        padding: 0;

        border: 0;
        outline: none;
        box-shadow: none;
      }
      input[name='your-name'],
      input[name='your-phone'] {
        margin-bottom: 4px;
        padding: 5px;

        color: #000000;
        background-color: rgba(204, 204, 204, .24);
      }
      input[type=submit] {
        font-weight: bold;

        width: 100%;
        margin-bottom: 0;
        padding: 4px 0;

        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .modal-close {
    font-size: 40px;

    position: absolute;
    top: -20px;
    right: -10px;

    cursor: pointer;
    transition: $base-transition;

    color: $green;
    &:hover {
      color: lighten($green, 25%);
    }
  }
}

footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-image: url(../img/bg/footer.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  .nav__footer {
    margin-bottom: 58px;
  }
  .container-footer {
    height: 100%;

    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    background-position: 20px 90px;
    .row-footer {
      height: 100%;

      background-image: url(../img/bg/header.png);
      background-repeat: no-repeat;
      background-position: center 10px;
    }
  }
  .copyright {
    font-size: 14px;

    color: #babfc9;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_opensans';
@import 'base64';
@import 'import/print';

@media (max-width: 1199px) {
  header {
    background-image: none;
    button.btn-orange,
    .btn.btn-orange {
      width: 100%;
    }
  }
  .nav__header,
  .nav__footer {
    padding-right: 0;
    padding-left: 0;
  }


  .nav__header .headnav li a,
  .nav__header .footernav li a,
  .nav__footer .headnav li a,
  .nav__footer .footernav li a {
    padding-right: 3px;
    padding-left: 3px;
  }
  .nav__header .headnav li a .ico,
  .nav__header .footernav li a .ico,
  .nav__footer .headnav li a .ico,
  .nav__footer .footernav li a .ico {
    margin-right: 3px;
  }
  .nav__header .headnav li,
  .nav__header .footernav li,
  .nav__footer .headnav li,
  .nav__footer .footernav li {
    border-right: 0;
  }
}
@media (max-width: 991px) {
  .nav__header,
  .nav__footer {
    ul {
      display: flex;
      flex-direction: row;

      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 25%;
        height: 56px;
        a {
          padding-right: 10px;
          padding-left: 10px;
          i {
            display: none;
          }
        }
      }
    }
  }


  .nav__header .headnav li.current-menu-item a:after,
  .nav__header .footernav li.current-menu-item a:after,
  .nav__footer .headnav li.current-menu-item a:after,
  .nav__footer .footernav li.current-menu-item a:after {
    display: none;
  }
}
@media (max-width: 767px) {
  header {
    height: auto;
  }
  header .header--logo {
    margin-bottom: 20px;
    padding-top: 15px;

    text-align: center;
  }
  header .header-add {
    padding-top: 0;
    padding-bottom: 30px;
  }
  .nav__header .headnav li a,
  .nav__header .footernav li a,
  .nav__footer .headnav li a,
  .nav__footer .footernav li a {
    font-size: 12px;
    font-weight: normal;
  }
  section {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  footer .nav__footer {
    margin-bottom: 15px;
  }
  footer {
    height: auto;
    margin-top: 0;

    background-image: none;
  }
  footer .copyright {
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
  }
  footer .container-footer {
    background-image: none;
  }
  .stats-block .stats-block--item {
    width: 100%;
  }
  .stats-block .stats-block--item:nth-child(2n) .stats-block--count {
    right: 20px;
  }
  .stats-block .stats-block--item:nth-child(2n) {
    background-position: left center;
  }
}
@media (max-width: 519px) {
  .nav__header,
  .nav__footer {
    display: none;
  }

  button.btn-mobinavi,
  .btn.btn-mobinavi {
    display: inline-block;
    float: left;
  }
  header button.btn-orange,
  header .btn.btn-orange {
    width: calc(100% - 70px);
    height: 50px;
  }
  .nav__header ul li a i,
  .nav__footer ul li a i {
    display: inline-block;

    margin-right: 10px;
  }
  header .header--logo {
    padding-right: 80px;
  }
  .nav__header .headnav li a,
  .nav__header .footernav li a,
  .nav__footer .headnav li a,
  .nav__footer .footernav li a {
    display: flex;
    flex-direction: row;

    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .stats-block {
    padding: 10px;
  }
  .stats-block .stats-block--item:nth-child(2n) .stats-block--count,
  .stats-block .stats-block--item .stats-block--count {
    right: 0;
  }
  .stats-block .stats-block--item {
    padding-left: 50px;
  }
  .article-container.hentry .cities-list li,
  article.hentry .cities-list li {
    width: 50%;
  }
  .article-container.hentry .cities-list li:nth-last-child(1),
  .article-container.hentry .cities-list li:nth-last-child(2),
  .article-container.hentry .cities-list li:nth-last-child(3),
  article.hentry .cities-list li:nth-last-child(1),
  article.hentry .cities-list li:nth-last-child(2),
  article.hentry .cities-list li:nth-last-child(3) {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .stats-block .stats-block--item .stats-block--href {
    font-size: 14px;
  }
}
